.blog-post-card-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card-container {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card-text {
  color: #595959;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.blog-post-card-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card-text2 {
  color: #595959;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.blog-post-card-root-class-name {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name1 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name2 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name3 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name4 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name5 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name6 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name7 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name8 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name9 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name10 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name11 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name12 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name13 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name14 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name15 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name16 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name17 {
  flex: 0 0 auto;
  max-width: 300px;
}
.blog-post-card-root-class-name18 {
  flex: 0 0 auto;
  max-width: 275px;
}
.blog-post-card-root-class-name19 {
  flex: 0 0 auto;
  max-width: 275px;
}
.blog-post-card-root-class-name20 {
  flex: 0 0 auto;
  max-width: 275px;
}
.blog-post-card-root-class-name21 {
  flex: 0 0 auto;
  max-width: 275px;
}
.blog-post-card-root-class-name22 {
  flex: 0 0 auto;
  max-width: 275px;
}
.blog-post-card-root-class-name23 {
  flex: 0 0 auto;
  max-width: 275px;
}
@media(max-width: 991px) {
  .blog-post-card-image {
    height: 350px;
  }
  .blog-post-card-root-class-name {
    max-width: 550px;
  }
  .blog-post-card-root-class-name1 {
    max-width: 550px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card-root-class-name2 {
    max-width: 550px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card-root-class-name3 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name4 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name5 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name6 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name7 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name8 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name9 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name10 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name11 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name12 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name13 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name14 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name15 {
    max-width: 550px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card-root-class-name16 {
    max-width: 550px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card-root-class-name17 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name18 {
    max-width: 550px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card-root-class-name19 {
    max-width: 550px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card-root-class-name20 {
    max-width: 550px;
  }
  .blog-post-card-root-class-name21 {
    max-width: 550px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card-root-class-name22 {
    max-width: 550px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card-root-class-name23 {
    max-width: 550px;
  }
}
@media(max-width: 479px) {
  .blog-post-card-root-class-name {
    max-width: 350px;
  }
  .blog-post-card-root-class-name1 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name2 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name3 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name4 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name5 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name6 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name7 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name8 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name9 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name10 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name11 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name12 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name13 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name14 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name15 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name16 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name17 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name18 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name19 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name20 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name21 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name22 {
    max-width: 350px;
  }
  .blog-post-card-root-class-name23 {
    max-width: 350px;
  }
}
